<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Librería - Clientes</title>
</head>
<body>
<h1>Clientes registrados</h1>

<a th:href="@{/clientes/nuevo}">Registrar nuevo cliente</a>

<table border="1" cellpadding="8">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>DNI</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Dirección</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cliente : ${clientes}">
        <td th:text="${cliente.id}"></td>
        <td th:text="${cliente.nombres}"></td>
        <td th:text="${cliente.apellidos}"></td>
        <td th:text="${cliente.numeroDocumento}"></td>
        <td th:text="${cliente.telefono}"></td>
        <td th:text="${cliente.email}"></td>
        <td th:text="${cliente.direccion}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
