<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Empleado</title>
</head>
<body>
<h1>Registrar nuevo empleado</h1>

<form th:action="@{/empleados}" th:object="${empleado}" method="post">

    <label>Nombres:</label>
    <input type="text" th:field="*{nombres}"/>
    <span th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}" style="color:red"></span>
    <br><br>

    <label>Apellidos:</label>
    <input type="text" th:field="*{apellidos}"/>
    <span th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}" style="color:red"></span>
    <br><br>

    <label>DNI:</label>
    <input type="text" maxlength="8" th:field="*{numeroDocumento}"/>
    <span th:if="${#fields.hasErrors('numeroDocumento')}" th:errors="*{numeroDocumento}" style="color:red"></span>
    <br><br>

    <label>Teléfono:</label>
    <input type="text" th:field="*{telefono}"/>
    <br><br>

    <label>Cargo:</label>
    <input type="text" th:field="*{cargo}"/>
    <span th:if="${#fields.hasErrors('cargo')}" th:errors="*{cargo}" style="color:red"></span>
    <br><br>

    <label>Fecha de ingreso:</label>
    <input type="date" th:field="*{fechaIngreso}"/>
    <br><br>

    <button type="submit">Registrar</button>
</form>

<br>
<a th:href="@{/empleados}">Volver a la lista</a>
</body>
</html>
